<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ToDoLu 📝</title>
  <link rel="stylesheet" href="css/styles_todo.css">
</head>

<body>

  <div class="box" id="heading">
    <h1> <%= title %> <a href="/" class="home"><img src="icon/home.png" alt=""></a> </h1>
  </div>

  <div class="box">
    <% for(var i=0;i<list.length;i++){ %>
    <form class="item" action="/delete" method="post">
        <input type="checkbox" name="title" value="<%= title %>" onchange="this.form.submit()">
        <input type="hidden" name="content" value="<%= list[i] %>">
        <p> <%= list[i] %> </p>
    </form>
    <% } %>

    <form class="item newEntry" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required autofocus>
      <button type="submit" name="Add" value="<%= title %>">+</button>
    </form>
  </div>

</body>

</html>
