<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ToDo List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <div class="box" id="heading">
    <h1> <%= title %> </h1>
  </div>

  <div class="box">
    <% for(var i=0;i<list.length;i++){ %>
    <form class="" action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="title" value="<%= title %>" onchange="this.form.submit()">
        <input type="hidden" name="content" value="<%= list[i] %>">
        <p> <%= list[i] %> </p>
      </div>
    </form>
    <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required autofocus>
      <button type="submit" name="Add" value="<%= title %>">+</button>
    </form>
  </div>
  <!-- <form class="" action="/reset_list" method="post">
      <button type="submit" name="Reset">Reset</button>
    </form> -->
</body>

</html>
